@namespace Avatar.Web.Components

<Modal @ref="ModalRef">
    <ModalContent Centered Style="border-radius:12px">
        <ModalHeader>
            <div class="col-12 d-flex justify-content-center modal-header-section fw-bold">
                @HeaderContent
            </div>
        </ModalHeader>
        <ModalBody class="text-secondary">
            <div>
                @BodyContent
            </div>
        </ModalBody>
        <ModalFooter>
            <Button class="btn-light text-secondary width-70" Border="Border.Is1" Clicked="DeclineAction">@DeclineLabel</Button>
            <Button class="text-white width-70" Background="Background.Success" Clicked="AcceptAction">@AcceptLabel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code 
{
    private Modal ModalRef {get; set;}

    [Parameter]
    public RenderFragment HeaderContent { get; set; }

    [Parameter]
    public RenderFragment BodyContent {get; set;}

    [Parameter]
    public string AcceptLabel {get; set;}

    [Parameter]
    public string DeclineLabel {get; set;}

    [Parameter]
    public EventCallback<bool> OnConfirmationChanged {get; set;}

    public Task Open()
    {
        return ModalRef.Show();
    }

    public Task Close()
    {
        return ModalRef.Close(CloseReason.UserClosing);
    }

    private Task AcceptAction()
    {
        if(OnConfirmationChanged.HasDelegate)
        {
            OnConfirmationChanged.InvokeAsync(true);
        }
        Close();
        return Task.CompletedTask;
    }

    private Task DeclineAction()
    {
        if(OnConfirmationChanged.HasDelegate)
        {
            OnConfirmationChanged.InvokeAsync(false);
        }
        Close();
        return Task.CompletedTask;
    }
}